# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.gitignore
/.oxlintrc.json
/.vs/bloom-cafe.slnx/FileContentIndex/c75f7905-efcf-43f6-8660-828add9457dd.vsidx
/.vs/bloom-cafe.slnx/FileContentIndex/14bb6869-a381-47a4-b6ee-213836909143.vsidx
/.vs/bloom-cafe.slnx/FileContentIndex/d2d07233-352d-44c3-813e-91792313e955.vsidx
/.gitignore
